<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create/Edit Driver</title>
</head>
<body>
    <h1 th:text="${driver.id} != null ? 'Edit Driver' : 'Add New Driver'"></h1>
 
    <form th:action="@{${driver.id != null} ? '/drivers/update/' + ${driver.id} :'/drivers/save'}" 
        th:object="${driver}" method="post">

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" required /><br/>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required /><br/>

        <label for="dob">Date of Birth:</label>
        <input type="date" th:field="*{dob}" max="2000-12-31" required/><br/>
 
        <label for="team">Team:</label>
        <select id="team" name="team.id" th:field="*{team}" class="form-control">
            <option value="" disabled selected>Select a Team</option>
            <option th:each="team : ${teams}"
                th:value="${team.id}" th:text="${team.name}">
            </option>
        </select><br/>

        <label for="races">Registered Races:</label>
        <select id="races" th:field="*{registeredRaces}" multiple size="3">
            <option th:each="race : ${races}" th:value="${race.id}"
            th:text="${race.raceTrackName}"></option>
        </select><br/>

    <button type="submit">Save</button>
    </form>
    
    <a th:href="@{/drivers}">Cancel</a>
</body>
</html>