<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Team List</title>
    </head>
    <body>
        <h1>Team List</h1>
 
        <a th:href="@{/teams/new}">Create New Team</a>
 
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Logo</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="team : ${teams}">
                    <td th:text="${team.name}">Team Name</td>
                    <td th:text="${team.location}">Location</td>
                    <td>
                        <img th:src="@{'/teams/logo/' + ${team.id}}" width="50"/>
 
                    </td>
                    <td th:text="${team.description}">Description</td>
                    <td>
                        <a th:href="@{'/teams/edit/' + ${team.id}}">Edit</a>
                        <a th:href="@{'/teams/delete/' + ${team.id}}">Delete</a>
                    </td>
                </tr>
            </tbody>
            </table>
            <p th:if="${error}" th:text="${error}" style="color:red;"></p>
 
    </body>
</html>