<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Races List</title>
    </head>
    <body>
        <h1>All Races</h1>
 
        <a th:href="@{/races/new}">Add New Races</a>
 
        <table border="1">
            <thead>
                <tr>
                    <th>Race Track</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Registration Closes</th>
                    <th>Team</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="race : ${races}">
                    <td th:text="${race.raceTrackName}">Track</td>
                    <td th:text="${race.location}">Location</td>
                    <td th:text="${#temporals.format(race.date,'yyyy-MM-dd')}">Date</td>
                    <td th:text="${race.registrationClosureDate != null ?
                    #temporals.format(race.registrationClosureDate, 'yyyy-MM-dd'): 'N/A'}">Reg Close</td>
                    <td th:text="${race.team.name}">Team</td>
                    <td>
                        <a th:href="@{'/races/edit/' + ${race.id}}">Edit</a>
                        <a th:href="@{'/races/delete/' + ${race.id}}"
                          onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
            </tbody>
            </table>
            <p th:if="${error}" th:text="${error}" style="color:red;"></p>
 
    </body>
</html>